::selection {
  background-color:#487D3F;
  color: #fff;
}
::-moz-selection {
  background-color:#487D3F;
  color: #fff;
}


header .k-navbar-nav li a.active,
header .k-navbar-nav li a:hover,
.theme-color {
  color:#487D3F;
}

.theme-border {
	border-color: #487D3F;
}

.m-btn,
.theme-after:after,
.theme-bg {
  background: #487D3F;
}